.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 50;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  max-height: 80vh;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: rgb(254, 254, 254);
  width: 50vw;
  transform: scale(0.5);
  transition: 0.3s all;
  z-index: 51;
}

.modal-content.active {
  transform: scale(1);
}





