.card {
  display: block;
  max-width: 410px;
  width: calc(33.33333%-31px);
  margin: auto;
  background-color: hsla(0, 0%, 99%, 0.973);
  border-radius: 3px;
  transition: box-shadow .2s ease;
  transition: all 0.5s;
  box-shadow: 0 5px 5px var(--color-shadow,rgba(34,34,34,.1)),0 7px 18px 0 var(--color-shadow,rgba(34,34,34,.1))
}
@media (max-width: 800px){
  .card{
    max-width: 95vw;
  }
}
.card:hover {
  box-shadow: 0px 7px 7px rgba(143, 217, 240, 0.678),  0 1px 1px rgba(12, 57, 94, 0.356);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@media (max-width: 800px){
  .container{
    max-width: calc(990px + 2rem)
  }
}
.model-img{
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}
.model-name-title {
  color: solid #798284
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 3px;
}
.card-footer-left {
  display: flex;
}
.card-footer-avatar {
  width: 18px;
  max-height: 18px;
  border-radius: 50%;
  margin-right: 5px
}
.model-name-title{
  margin: 0;
  color: #615f5f;
  font-size: 12px;
}
.model-name-title{
  margin: 4px;
}

.card-footer-rigth {
  display: flex;
}
.icon {
  display: flex;
}
.comment:hover, .favorite:hover, .card-footer-avatar:hover, .model-img:hover {
  cursor: pointer;
}
.icon-img {
  max-width: 15px;
  width: 100%;
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(124, 111, 111));
}
.card-footer-text {
  margin: 1px 10px 0 3px;
  color: #a7a7a7;
  font-size: 12px;
}

p{
  padding: 0;
  margin: 0;
}
