.container{
  background-color: #f2f2f2;
  height: 100vh;
}

.content-text {
  color:rgb(75, 75, 75);
  border-bottom: 1px solid #E1E8EE;
  padding: 0 0 20px;
  margin: 10px 0;
  font-weight: 400;
  text-align: left;
}
.content {
  width: 80%;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 24px;
}
@media (min-width: 1270px) and (max-width: 1600px){
  .content{
    max-width: calc(990px + 3rem)
  }
}
@media screen and (max-width: 1180px) {
  .content{
    max-width: calc(660px + 2rem)
  }
}
 
.modules-page {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
}

h1{
  padding: 0;
  margin: 0;
}

/* 1930 repeat(4, 1fr) */
/* 1024 repeat(2, 1fr) */
/* 776 1fr */