.profile-general-container{
    background-color: #f2f2f2;
}

.profile-photo-name-and-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content : center;
    background: black;
    padding: 2rem 12rem;
    /* margin: 0% 3rem; */
}

.profile-photo{

}

.profile-name-btn {
    display: flex;
    margin-left: 1.2rem;
    flex-direction: column;
    align-content: space-between;
}

.profile-name-span{
    margin-bottom: 50%;
}

.profile-name-a{
    text-decoration: none;

}

.profile-name-h1{
    padding-bottom: 30px;
}

.profile-name-span{
    color: white;
    font-size: 26px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-name-a:hover .profile-name-span{
color: #4cc8f1;
}

.profile-btn-edit-profile-a{
    text-decoration: none;
}

.profile-btn-edit-profile-a{
    color: white;
    background-color: #1db9ed;
    padding: 0.6em;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.profile-btn-edit-profile-a:hover{
    background-color: #1c88bb;
}

.profile-5-btn-ul{
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;
    margin-left: 8.5rem
}

.profile-one-btn{
    margin-left: 2em;
    color: #222;

}

.profile-third-btn-a{
    text-decoration: none;
    color: #222;

}

.profile-second-btn-a{
    text-decoration: none;
    color: #222;

}

.profile-third-btn-ul{
    display: none;
    
}

.profile-third-btn-ul:hover .profile-third-btn-ul{
    display: block;
    display: flex;
    flex-wrap: wrap;
}

.profile-third-btn-ul{
    list-style-type: none;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100px;
    color:white;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
    background-color: white;

}

.profile-third-btn-ul li:hover{
    background: #1caad9;
    color: white;
}

.profile-forth-btn-a{
    text-decoration: none;
    color: #222;

}

.profile-fifth-btn-a{
    text-decoration: none;
    color: #222;
}

.profile-two-sides{
    display: flex;
    justify-content: space-around;
     /* align-items: center; */
    /* align-content: center; */
} 

.profile-two-sides-left{
    width: 50%;
}


.profile-two-sides-left-popular-and-view{
    /* display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center; */
    color: #222;
}

.profile-two-sides-left-popular-h2{
    text-align: left;
    padding-left: 10px;
}

.profile-two-sides-left-view{ 
    text-align: right;
 } 

 .profile-two-sides-left-results{
    margin-top: 10%;
    text-align: center;
    color:#ccc;
 }

 .profile-two-sides-left-results-grid{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns:  repeat(auto-fit, minmax(100px, 1fr));
 }

.profile-two-sides-right-table{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 30px;
    padding: 0.7em;
    text-align: left;
 }

 .profile-two-sides-right{
    width: 20%;
 }

 .profile-two-sides-first-tabel-title{
    color: #999999;
    font-size: 13px;
    font-weight: 400;
 }

 .profile-two-sides-first-tabel-links{
    color: #1caad9;
    font-size: 14px;
    font-weight: 400;
 }

 .profile-two-sides-first-tabel-links:hover{
    color: #1c88bb;

 }

 .profile-two-sides-first-tabel-p{
    font-size: 14px;
    font-weight: 400;

 }
 
 .profile-two-sides-right-table-vltv{
    display: flex;
    justify-content: left;

 }

.profile-two-sides-right-table-title{
    margin-left: 0.3em;
}