.filter-container{
  padding: 25px 50px;
  font-size: 14px;
  background: #fff;
  color: #555;
  box-shadow: 0 1px 5px rgba(34,34,34,.1);
  position: relative;
}
.filter-content-header {
  display:flex;
  justify-content: space-between;
  max-width: 65vw;
  min-width: 580px;
  margin: 0 auto;
}
.sortBy{
  display: flex;
}

/* filter */
.filters {
  flex:1;
  max-width: none;
}
.filters-filter {
  max-width: 200px;
}
.filter-category {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.filter-header{
  color: var(--color-neutral-400,#999);
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
}
.filter-drop-down{
  color: #1caad9;
  color: var(--color-primary-400,#1caad9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  
}
.filter-drop-down-label-value {
  position: relative;
}
.filter-drop-down-label-value::after{
  top: 15;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  color: #ccc;
  color: var(--color-neutral-200,#ccc);
  text-transform: none;
  vertical-align: middle;
  content: "▼";
  transition: transform .5s cubic-bezier(.65,-.76,.09,1.1);
  transform: rotate(0deg) scaleY(.55);
  margin-left: 5px;
  line-height: 2.25;
}
.filter-drop-down-label-value-open::after{
  top: 15;
  position: absolute;
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 400;
  color: #ccc;
  color: var(--color-neutral-200,#ccc);
  text-transform: none;
  vertical-align: middle;
  content: "▼";
  transition: transform .5s cubic-bezier(.65,-.76,.09,1.1);
  transform: rotate(0deg) scaleY(.55);
  transform: rotate(180deg) scaleY(.55);
}

.filter-dd-menu {
  position: relative;
  opacity: 1;
  border-radius: 0 0 0.3em 0.3em;
}
.filter-dd-none{
  display: none;
  opacity: 0;
}
.filter-ul{
  display: block;
  position: absolute;
}
.filter-dd-el {
  background-color: rgb(255, 255, 255);
  text-align: left;
  display: flex;
  height: 20px;
  cursor: pointer;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:rgb(75, 75, 75);
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.filter-dd-el:hover {
  color:#1caad9;
}

ul {
  margin: 0;
  padding: 0;
}

/* sort */
